<!DOCTYPE html>
<html>
<head>
  <title>Sasstools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Bigshot+One|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= yield %>

	   <footer>
      <h1 class="footer-title">Sassy Toolbox</h1>
      <p class="authors">Made by <a href="https://github.com/hatefulcrawdad">Chris Michel</a> and <a href="https://github.com/jhardy">Jared Hardy</a> for the love of the amazing Sass Community.</p>
    </footer>
</div>


</body>
</html>
